footer{
	@include adaptiv-value('padding-top', 70, 45, 767, 320);
	@include adaptiv-value('padding-bottom', 80, 45, 767, 320);

	background-color: #483400;
}

.footer__body {}
.footer__row {
	@include flexbox();

	@media (max-width: $md3 + px){
		flex-direction: column;
		align-items: center;
	};
}
.footer__column-about {
	padding-left: 80px;

	flex: 0 0 50%;

	@media (max-width: $md3 + px){
		padding-left: 0;

		flex: 0 0 100%;
	};
}
.footer__title {
	font-family: Raleway;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;

	@media (max-width: $md3 + px){
		text-align: center;
	};
}
.footer__text {
	margin-top: 50px;

	max-width: 370px;

	font-size: 18.8px;
	line-height: 29px;
	font-weight: 500;
	color: #ffffff;

	@media (max-width: $md3 + px){
		text-align: center;
		@include adaptiv-value('margin-top', 35, 20, 767, 320);

		max-width: 450px;
	};
}
.footer__column-links {
	padding-left: 30px;

	flex: 0 0 50%;

	@media (max-width: $md3 + px){
		padding-left: 0;

		flex: 0 0 100%;
		max-width: 500px;
		width: 100%;
		text-align: center;
	};
}
.footer__sub-row {
	@include flexbox();

	@media (max-width: $md3 + px){
		@include adaptiv-value('margin-top', 50, 40, 767, 320);
	};
}
.footer__sub-column {
	flex: 0 0 33.3333%;
}
.footer__column-title {
	font-family: Raleway;
	font-size: 20.9px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
.footer__list {
	margin-top: 50px;
	li{
		margin-bottom: 12.5px;
		&:last-child{
			margin-bottom: 0;
		}

		a{
			transition-duration: 0.3s;
			&:hover{
				color: #ffba00;
				transition-property: color;
				transition-duration: 0.3s;
			}
		}
	}

	@media (max-width: $md3 + px){
		@include adaptiv-value('margin-top', 35, 28, 767, 320);
	};
}
.footer__link {
	font-family: Raleway;
	font-size: 20.9px;
	font-weight: 700;
	color: #ffffff;
}