// Миксины
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}

// $property - название свойства;
// $startSize - значение по умолчанию;
// $minSize - значение, которое нужно получить;
// $maxWidthContainer - начения с какой ширины изменяем;
// $size - при какой ширине должны закончить.
@mixin adaptiv-value($property, $startSize, $minSize, $maxWidthContainer, $size) {
	$addSize: calc(#{$startSize} - #{$minSize});

	@if (type-of($startSize) == number){
		#{$property}: $startSize + px;
	} @else {
		#{$property}: calc($startSize * 1px);
	}

	@if (type-of($minSize) == number){
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$size + px}) / #{$maxWidthContainer - $size}));
		}
	} @else {
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(calc(#{$minSize} * 1px) + #{$addSize} * ((100vw - #{$size + px}) / #{$maxWidthContainer - $size}));
		}
	}
	
	// @media (max-width: #{$maxWidthContainer + px}) {
	// 	#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$size + px}) / #{$maxWidthContainer - $size}));
	// }
}

// Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;700&display=swap');


// Шрифт по умолчанию
$fontfamily:"Lato";

// Переменные
$mw: 1190;
$minwidth: 320px;
$md1:$mw+20;
$md2:992.98;
$md3:767.98;
$md4:479.98;

// Обнуление
@import "nullstyle.scss";

// Запрещаем двигаться экрану при открытом бургере
body._lock{
	overflow: hidden;
}

// Оболочка
.wrapper{
	width: 100%; min-height: 100%; overflow: hidden; 
	&.loaded{}
}

// Заготовки
.ibg{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.ibg img{
	display: none;
}

// Основная сетка
.container{
	font-family: $fontfamily;
	max-width: $mw+px; margin: 0 auto; width: 100%;
	@media (max-width: $md1 + px){
		padding: 0px 10px;
	};
}

//Классы

// Подключаем header
@import "header.scss";

// Структура:
// 1) Расположение;
// 2) Размер;
// 3) Внешний вид.


// Основной блок
// ================================== 

.first-screen{
	height: 100vh;
}

.home__body {
	@include flexbox();
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

	width: 100%;
	height: 198px;
	@include adaptiv-value('height', 198, 150, 1440, 767);

	background-color: #ffba00;

	@media (max-width: $md3 + px){
		flex-direction: column;
		align-items: center;

		@include adaptiv-value('height', 150, 100, 767, 320);
	};
}
.home__text {
	@include flexbox();
	justify-content: flex-end;
	margin-left: 34px;
	@include adaptiv-value('margin-top', 39, 12, 1440, 767);

	flex: 0 0 50%;

	p{
		@include flexbox();
		flex-direction: column;

		font-family: Montserrat;
		@include adaptiv-value('font-size', 125, 105, 1440, 767);
		font-weight: 900;
		text-transform: uppercase;
		color: #ffffff;
		@include adaptiv-value('line-height', 105, 92, 1440, 767);

		span{
			@include adaptiv-value('font-size', 104.2, 84.2, 1440, 767);
			font-weight: 400;
			letter-spacing: 0.1em;
		}
	}

	@media (max-width: 1250px){
		@include adaptiv-value('margin-left', 60, 25, 1250, 767);
	};

	@media (max-width: $md3 + px){
		margin-left: 0;
		@include adaptiv-value('margin-top', 12, 9, 767, 320);
		text-align: center;

		p{
			@include adaptiv-value('font-size', 105, 70, 767, 320);
			@include adaptiv-value('line-height', 92, 60, 767, 320);

			span{
				@include adaptiv-value('font-size', 84.2, 49.2, 767, 320);
			}
		}
	};
}
.home__button {
	@include flexbox();
	align-items: flex-end;

	a{
		@include adaptiv-value('margin-bottom', -45, -30, 1440, 767);
		@include adaptiv-value('margin-left', 60, 10, 1440, 767);

		max-height: 85px;
		@include adaptiv-value('padding-top', 28, 15, 1440, 767);
		@include adaptiv-value('padding-right', 24, 15, 1440, 767);
		@include adaptiv-value('padding-bottom', 20, 15, 1440, 767);
		@include adaptiv-value('padding-left', 72, 15, 1440, 767);


		border: 4px solid #ffffff;
		background-color: #ffba00;

		font-family: Montserrat;
		@include adaptiv-value('font-size', 37.5, 30, 1440, 767);
		font-weight: 600;
		color: #ffffff;
	}

	@media (max-width: $md3 + px){
		margin-top: 15px;

		a{
			margin: 0px;

			@include adaptiv-value('padding-top', 15, 10, 767, 320);
			@include adaptiv-value('padding-right', 15, 10, 767, 320);
			@include adaptiv-value('padding-bottom', 15, 10, 767, 320);
			@include adaptiv-value('padding-left', 15, 10, 767, 320);

			border: 3px solid #ffffff;

			@include adaptiv-value('font-size', 30, 20, 767, 320);
		}
	};
}

// ==================================
.new {
	background-color: #242424;
}
.container {
}
.new__body {
	position: relative;
	@include flexbox();

	padding-top: 140px;
	padding-bottom: 140px;

	@media (max-width: $md3 + px){
		@include adaptiv-value('padding-top', 140, 70, 767, 320);
		@include adaptiv-value('padding-bottom', 140, 70, 767, 320);
	};
}
.new__vertical-text {
	z-index: 2;

	@include adaptiv-value('margin-right', 75, 40, 1210, 767);
	@include adaptiv-value('margin-left', 30, 15, 1210, 767);
	text-align: center;

	font-family: Montserrat;
	@include adaptiv-value('font-size', 50, 40, 1210, 767);
	font-weight: 300;
	letter-spacing: 0.08em;
	color: #ffffff;

	writing-mode: vertical-lr;
	transform: rotate(-180deg);

	@media (max-width: $md3 + px){
		@include adaptiv-value('font-size', 40, 22, 767, 320);
		@include adaptiv-value('margin-right', 40, 10, 767, 320);
		@include adaptiv-value('margin-left', 15, -5, 767, 320);
	};
}
.new__text {
	z-index: 2;

	@include adaptiv-value('max-width', 600, 400, 1210, 767);

	color: #ffffff;
	font-weight: 900;

	h2{
		@include adaptiv-value('margin-bottom', 65, 35, 1210, 767);

		@include adaptiv-value('font-size', 41.7, 37, 1210, 767);
		letter-spacing: 0.2em;
	}
	
	p{
		@include adaptiv-value('margin-bottom', 37, 25, 1210, 767);
		&:last-child{
			margin-bottom: 0;
		}

		@include adaptiv-value('font-size', 33.4, 25, 1210, 767);
		@include adaptiv-value('line-height', 40, 30, 1210, 767);
		font-weight: 500;
	}

	@media (max-width: $md3 + px){
		@include adaptiv-value('max-width', 400, 190, 767, 320);

		h2{
			@include adaptiv-value('margin-bottom', 35, 0, 767, 320);

			@include adaptiv-value('letter-spacing', 7.4, 3.5, 767, 320);
			@include adaptiv-value('font-size', 37, 25, 767, 320);
		}

		p{
			@include adaptiv-value('margin-bottom', 25, 10, 767, 320);

			@include adaptiv-value('font-size', 25, 17, 767, 320);
			@include adaptiv-value('line-height', 30, 23, 767, 320);

			&:nth-of-type(1){
				@include adaptiv-value('margin-top', 0, 30, 767, 320);
			}
		}
	};
}
.new__rectangle {
	position: absolute;
	top: 50%;                        
    transform: translate(0, -50%);
	z-index: 1;

	@include adaptiv-value('width', 890, 500, 1210, 767);
	@include adaptiv-value('height', 190, 150, 1210, 767);
	
	background-color: #ffba00;

	@media (max-width: $md3 + px){
		left: -10px;
		@include adaptiv-value('width', 500, 235, 767, 320);
		@include adaptiv-value('height', 150, 90, 767, 320);
	};
}
.new__image {
	position: absolute;
	top: 50%;                        
    transform: translate(0, -50%);
    @include adaptiv-value('right', -105, -10, 1400, 1190);
	z-index: 0;

	@include adaptiv-value('max-width', 620, 400, 1210, 767);
	@include adaptiv-value('max-height', 445, 330, 1210, 767);
	width: 100%;
	height: 100%;

	@media (max-width: 1190px){
		right: -10px;
	};

	@media (max-width: $md3 + px){
		@include adaptiv-value('max-width', 400, 230, 767, 320);
		@include adaptiv-value('max-height', 330, 205, 767, 320);
	};
}
// ==================================

.info {
	@include adaptiv-value('padding-top', 120, 80, 1000, 600);
	@include adaptiv-value('padding-bottom', 130, 90, 1000, 600);

	@media (max-width: 600px){
		@include adaptiv-value('padding-top', 80, 60, 600, 320);
		@include adaptiv-value('padding-bottom', 90, 60, 600, 320);
	};
}
.container {}
.info__body {}
.info__row {
	@include flexbox();

	@media (max-width: 600px){
		flex-direction: column;
	};
}
.info__column {
	@include flexbox();
	justify-content: center;

	flex: 0 0 33.3333%;

	@media (max-width: 600px){
		margin-bottom: 35px;
		&:last-child{
			margin-bottom: 0;
		}

		flex: 0 0 100%;
	};
}
.item-info {
	@media (max-width: 767px){
		@include flexbox();
		flex-direction: column;

		align-items: center;
	};
}
.item-info__title {
	@include adaptiv-value('margin-bottom', 35, 20, 1000, 767);

	font-family: Montserrat;
	@include adaptiv-value('font-size', 29.2, 24, 1000, 767);
	font-weight: 900;
	color: #ffba00;

	@media (max-width: $md3 + px){
		text-align: center;
		font-size: 24px;
	};

	@media (max-width: 600px){
		margin-bottom: 18px;

		font-size: 29.2px;
	};
}
.item-info__text {
	@include adaptiv-value('max-width', 270, 230, 1000, 767);
	font-size: 16.7px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;

	@media (max-width: $md3 + px){
		@include adaptiv-value('max-width', 230, 170, 767, 600);
		text-align: center;
	};

	@media (max-width: 600px){
		font-size: 20px;
		max-width: 250px;
	};
}

// ==================================

.our-menu {
	position: relative;
	z-index: -1;
}

.our-menu:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

	background-color:rgba(0, 0, 0, .35);
}
.our-menu__body {
	@include flexbox();
	flex-direction: column;
	align-items: center;

	padding-top: 100px;
	@include adaptiv-value('padding-top', 100, 50, 1000, 320);
}
.our-menu__logo {
	h2{
		font-family: Montserrat;
		font-size: 41.7px;
		letter-spacing: 0.05em;
		color: #ffba00;
		font-weight: 800;

		span{
			font-weight: 400;
		}
	}

	@media (max-width: $md3 + px){
		h2{
			@include adaptiv-value('font-size', 41.7, 35, 767, 320);
		}
	};
}
.our-menu__title {
	margin-top: 75px;
	@include adaptiv-value('margin-top', 75, 45, 1000, 320);
	position: relative;

	h3{
		font-family: Montserrat;
		@include adaptiv-value('font-size', 47.6, 30, 600, 320);
		font-weight: 500;
		text-transform: uppercase;
		color: #ffba00;
	}

	&::before{
		content: '';
		display: block;
		position: absolute;
		top: -25px;
		@include adaptiv-value('left', -270, -150, 1480, 1000);
		@include adaptiv-value('width', 1175, 840, 1480, 1000);
		@include adaptiv-value('height', 131, 100, 1480, 1000);

		@media (max-width: $md2 + px){
			left: -40px;
			width: 500px;
			height: 95px;
			// @include adaptiv-value('left', -150, -40, 1000, 767);
			// @include adaptiv-value('width', 805, 500, 1000, 767);
			// @include adaptiv-value('height', 100, 95, 1000, 767);
		};

		@media (max-width: 600px){
			@include adaptiv-value('top', -25, -13, 600, 320);
			@include adaptiv-value('left', -40, -10, 600, 320);
			@include adaptiv-value('width', 500, 283, 600, 320);
			@include adaptiv-value('height', 95, 58, 600, 320);
		};

		border: 2px solid #ffffff;
	}
}
.our-menu__menu {
	@include adaptiv-value('margin-top', 220, 125, 1480, 767);

	@include flexbox();
	flex-direction: column;
	align-items: center;
	width: 100%;

	@media (max-width: $md3 + px){
		@include adaptiv-value('margin-top', 125, 60, 767, 320);
	};
}
.our-menu__list{
	@include adaptiv-value('margin-left', 130, 80, 1480, 767);

	@include adaptiv-value('max-width', 725, 500, 1480, 767);
	width: 100%;
	position: relative;

	@media (max-width: $md3 + px){
		margin-left: 0;

	};

	li{
		@include flexbox();
		@include adaptiv-value('margin-bottom', 40, 30, 1480, 767);
		&:last-child{
			margin-bottom: 0;
		}
		justify-content: space-between;

		&::before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: -25px;
			z-index: -1;

			@include adaptiv-value('width', 65, 55, 1480, 767);
			height: 100%;

			mix-blend-mode: overlay;
			opacity: 0.3;
			background-color: #ffba00;

			@media (max-width: $md3 + px){
				@include adaptiv-value('right', -25, -14, 767, 480);
				@include adaptiv-value('width', 55, 30, 767, 320);
			};


			@media (max-width: $md4 + px){

				@include adaptiv-value('right', -13, -2, 480, 320);
			};
		}

		@media (max-width: $md3 + px){
			@include adaptiv-value('margin-bottom', 30, 15, 767, 320);
		};
	}

	&::before{
		content: '';
		display: block;
		position: absolute;
		@include adaptiv-value('top', -80, -30, 1480, 767);
		@include adaptiv-value('left', -40, -30, 1480, 767);
		z-index: -1;
		
		@include adaptiv-value('width', 1035, 600, 1480, 767);
		
		//@include adaptiv-value('height', var(--menu-height), var(--md-menu-height), 1480, $md1);
		//@include adaptiv-value('height', calc(var(--base-menu-height) - 15), calc(var(--base-menu-height) - 75), 1480, $md1);

		height: calc((var(--base-menu-height) - 15) * 1px);

		@media (max-width: $md1 + px){
			height: calc((var(--base-menu-height) - 30) * 1px);
		};
		@media (max-width: $md2 + px){
			height: calc((var(--base-menu-height) - 40) * 1px);
		};
		@media (max-width: $md4 + px){
			height: calc((var(--base-menu-height) - 47) * 1px);
		};
		
		@media (max-width: $md3 + px){
			@include adaptiv-value('top', -30, -20, 767, 479.98);
			@include adaptiv-value('left', -30, -20, 767, 479.98);
			@include adaptiv-value('width', 600, 450, 767, 479.98);
		};

		@media (max-width: $md4 + px){
			top: -15px;
			left: -50px;
			width: 500px;
		};
		background-color: #ffba00;
	}
}

.our-menu__item{
	color: #ffffff;
	@include adaptiv-value('font-size', 33.4, 23, 1480, 767);
	font-weight: 500;
	line-height: 1.2;

	@media (max-width: $md3 + px){
		@include adaptiv-value('font-size', 23, 19, 767, 320);
		@include adaptiv-value('max-width', 382, 245, 600, 320);
	};

	span.number{
		font-weight: 900;
	}
	span.name{
		text-transform: uppercase;
	}
}

.our-menu__cost {
	@include adaptiv-value('font-size', 33.4, 26, 1480, 767);
	line-height: 54px;
	font-weight: 900;
	color: #ffffff;

	@media (max-width: $md3 + px){
		@include adaptiv-value('font-size', 26, 20, 767, 320);
	};

	@media (max-width: $md4 + px){
		@include adaptiv-value('margin-right', 0, 5, 480, 320);
	};
}

.our-menu__footer {
	@include adaptiv-value('margin-right', 400, 225, 1480, 767);
	position: relative;

	@include adaptiv-value('margin-top', 80, 40, 1480, 320);
	@include adaptiv-value('margin-bottom', 80, 55, 1480, 320);

	p{
		font-size: 25px;
		line-height: 41px;
		font-weight: 400;
		letter-spacing: 0.05em;
		color: #ffffff;
		width: 100%;
	}

	@media (max-width: $md3 + px){
		@include adaptiv-value('max-width', 600, 300, 767, 320);
		width: 100%;

		@include adaptiv-value('margin-left', 320, 155, 767, 480);
		p{
			@include adaptiv-value('font-size', 23, 20, 767, 320);
			@include adaptiv-value('line-height', 41, 35, 767, 320);
		}
	};

	@media (max-width: 420px){
		margin-left: 120px;
	};

	&::before{
		content: '';
		display: block;
		position: absolute;

		@include adaptiv-value('top', -19, -9, 1480, 767);
		@include adaptiv-value('left', -188, -30, 1480, 767);

		@include adaptiv-value('width', 936, 550, 1480, 767);
		
		height: calc((var(--base-menu-footer-height) + 35) * 1px);

		@media (max-width: $md1 + px){
			height: calc((var(--base-menu-footer-height) + 30) * 1px);
		};
		@media (max-width: $md2 + px){
			height: calc((var(--base-menu-footer-height) + 25) * 1px);
		};
		@media (max-width: $md3 + px){
			height: calc((var(--base-menu-footer-height) + 20) * 1px);
		};
		@media (max-width: 600px){
			height: calc((var(--base-menu-footer-height) + 17) * 1px);
		};
		@media (max-width: $md4 + px){
			height: calc((var(--base-menu-footer-height) + 13) * 1px);
		};

		border: 2px solid #ffffff;

		@media (max-width: $md3 + px){
			@include adaptiv-value('left', -30, -11, 767, 320);

			@include adaptiv-value('width', 555, 438, 767, 480);
		};

		@media (max-width: 480px){
			@include adaptiv-value('width', 438, 419, 480, 420);
		};

		@media (max-width: 420px){
			@include adaptiv-value('width', 419, 319, 420, 320);
		};
	}
}

// ==================================

.about {
	@include adaptiv-value('padding-top', 115, 60, 1000, 320);
	@include adaptiv-value('padding-bottom', 115, 60, 1000, 320);

	background-color: #242424;
}
.about__body {
	@include flexbox();
	flex-direction: column;
	align-items: center;
}
.about__title {
	font-size: 41.7px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #ffba00;

	span{
		font-family: Montserrat;
		font-weight: 900;
	}

	@media (max-width: $md3 + px){
		text-align: center;
		@include adaptiv-value('line-height', 40, 32, 767, 320);
		@include adaptiv-value('font-size', 41.7, 30, 767, 320);
	};
}
.about__text {
	@include adaptiv-value('margin-top', 40, 30, 767, 320);

	max-width: 700px;
	max-width: 100%;

	text-align: center;
	font-family: Raleway;
	font-size: 18.8px;
	@include adaptiv-value('line-height', 33, 29, 767, 320);
	font-weight: 400;
	color: #ffffff;
}
.about__list {
	@include flexbox();
	@include adaptiv-value('margin-top', 35, 30, 767, 320);
	
	li{
		margin-right: 35px;
		@include adaptiv-value('margin-right', 35, 20, 767, 320);
		&:last-child{
			margin-right: 0;
		}

		text-align: center;
	}
}
.about__link {
	font-family: Raleway;
	font-size: 16.7px;
	font-weight: 700;
	color: #ffffff;

	@media (max-width: $md3 + px){
		line-height: 20px;
	};
}

// ==================================

.masterclass {
	height: 100%;
}
.masterclass__body {
	@include flexbox();
	flex-direction: column;
	align-items: flex-end;

	@include adaptiv-value('padding-top', 100, 55, 1480, 320);
	@include adaptiv-value('padding-bottom', 100, 55, 1480, 320);

	@include adaptiv-value('margin-right', 0, 100, 1480, 1200);
	@media (max-width: 1200px){
		@include adaptiv-value('margin-right', 100, 55, 1200, 767);
	};

	@media (max-width: $md3 + px){
		align-items: center;
		margin-right: 0;
	};
}
.masterclass__title {
	@include adaptiv-value('font-size', 41.7, 38, 1480, 767);
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ffffff;

	@media (max-width: $md3 + px){
		@include adaptiv-value('font-size', 38, 30, 767, 320);
	};
}
.masterclass__info {
	@include adaptiv-value('margin-top', 90, 60, 1480, 767);
	@include adaptiv-value('padding-top', 95, 50, 1480, 767);
	@include adaptiv-value('padding-right', 60, 40, 1480, 767);
	@include adaptiv-value('padding-bottom', 65, 50, 1480, 767);
	@include adaptiv-value('padding-left', 60, 40, 1480, 767);

	@media (max-width: $md3 + px){
		@include adaptiv-value('margin-top', 60, 40, 767, 320);

		@include adaptiv-value('padding-top', 50, 30, 767, 320);
		@include adaptiv-value('padding-right', 40, 25, 767, 320);
		@include adaptiv-value('padding-bottom', 50, 30, 767, 320);
		@include adaptiv-value('padding-left', 40, 25, 767, 320);
	};

	background-color: #ffba00;
}
.masterclass__main-text {
	@include adaptiv-value('font-size', 50, 45, 1480, 767);
	line-height: 50px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;

	@media (max-width: $md3 + px){
		@include adaptiv-value('line-height', 50, 35, 767, 320);
		@include adaptiv-value('font-size', 45, 28, 767, 320);
	};
}
.masterclass__waiting {
	margin-top: 35px;

	@include adaptiv-value('font-size', 41.7, 38, 1480, 767);
	font-weight: 900;
	letter-spacing: 0.05em;
	color: #ffffff;

	@media (max-width: $md3 + px){
		@include adaptiv-value('margin-top', 35, 25, 767, 320);
		@include adaptiv-value('font-size', 38, 30, 767, 320);
	};
}
.masterclass__price-and-time {
	margin-top: 100px;
	@include adaptiv-value('margin-top', 100, 70, 1480, 767);

	text-align: right;

	@media (max-width: $md3 + px){
		@include adaptiv-value('margin-top', 70, 40, 767, 320);
	};
}
.masterclass__price {
	@include adaptiv-value('font-size', 41.7, 38, 1480, 767);
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;

	span{
		font-weight: 900;
	}

	@media (max-width: $md3 + px){
		@include adaptiv-value('font-size', 38, 30, 767, 320);
	};
}
.masterclass__time {
	margin-top: 18px;
	@include adaptiv-value('margin-top', 18, 13, 1480, 767);

	@include adaptiv-value('font-size', 41.7, 38, 1480, 767);
	font-weight: 500;
	color: #ffffff;

	@media (max-width: $md3 + px){
		@include adaptiv-value('margin-top', 13, 10, 767, 320);
		@include adaptiv-value('font-size', 38, 30, 767, 320);
	};
}
.masterclass__button {
	margin-top: 45px;
	@include adaptiv-value('margin-top', 45, 40, 1480, 767);

	@include adaptiv-value('padding-top', 60, 30, 1480, 767);
	@include adaptiv-value('padding-right', 295, 150, 1480, 767);
	@include adaptiv-value('padding-bottom', 30, 30, 1480, 767);
	@include adaptiv-value('padding-left', 35, 35, 1480, 767);

	@include adaptiv-value('font-size', 41.7, 38, 1480, 767);
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ffffff;
	background-color: #ffba00;

	@media (max-width: $md3 + px){
		padding: 25px 80px;

		@include adaptiv-value('padding-top', 25, 15, 767, 320);
		@include adaptiv-value('padding-right', 80, 50, 767, 320);
		@include adaptiv-value('padding-bottom', 25, 15, 767, 320);
		@include adaptiv-value('padding-left', 80, 50, 767, 320);

		@include adaptiv-value('font-size', 38, 25, 767, 320);
	};
}

// ==================================

.gallery {
	background-color: #242424;

	.container{
		@include adaptiv-value('padding-top', 140, 55, 1480, 320);
		@include adaptiv-value('padding-bottom', 70, 55, 1480, 320);

		position: relative;
		z-index: 0;
		&::before{
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			left: 187px;
			@include adaptiv-value('left', 187, 70, 1190, 767);
			z-index: -1;

			width: 250px;
			@include adaptiv-value('width', 250, 160, 1190, 767);
			height: 100%;

			background-color: #ffba00;

			@media (max-width: $md3 + px){
				width: 0;
				height: 0;
			};
		}
	}
}
.gallery__body {
	@include flexbox();
	flex-direction: column;
	align-items: center;
}
.gallery__title {
	font-family: Montserrat;
	font-size: 41.7px;
	@include adaptiv-value('font-size', 41.7, 33, 1480, 320);
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ffba00;
}
.gallery__image-row {
	@include flexbox();
	@include adaptiv-value('margin-top', 50, 40, 767, 320);

	@include adaptiv-value('max-width', 1440, 993, 1440, 993);

	@media (max-width: $md2 + px){
		flex-direction: column;
		align-items: center;

		max-width: 600px;
	};
}

.gallery__image-column{
	margin-right: 10px;

	&:last-child{
		margin-right: 0;
	}

	img{
		width: 100%;
	}

	@media (max-width: $md2 + px){
		margin-right: 0;
		@include adaptiv-value('margin-bottom', 25, 18, 993, 320);
		&:last-child{
			margin-bottom: 0;
		}

		width: 100%;
		img{
			width: 100%;
		}
	};
}
.gallery__logo {
	margin-top: 115px;
	@include adaptiv-value('margin-top', 115, 55, 1480, 320);

	font-family: Montserrat;
	font-size: 41.7px;
	font-weight: 700;
	color: #ffffff;
}
.gallery__row {
	@include flexbox();

	@include adaptiv-value('margin-top', 60, 35, 1480, 320);
	width: 100%;

	@media (max-width: $md3 + px){
		flex-direction: column;
	};
}
.gallery__column-text {
	@include flexbox();
	justify-content: flex-end;
	flex: 0 0 50%;

	@media (max-width: $md3 + px){
		justify-content: center;
		text-align: center;

		@include adaptiv-value('margin-bottom', 40, 35, 767, 320);
	};
}
.gallery__column-links {
	@include flexbox();
	flex-direction: column;
	flex: 0 0 50%;
	@include adaptiv-value('padding-left', 140, 55, 1480, 767);
	padding-left: 140px;

	@media (max-width: $md3 + px){
		padding-left: 0;
		align-items: center;
	};
}
.gallery__text {
	max-width: 340px;

	font-size: 25px;
	@include adaptiv-value('line-height', 41, 33, 1480, 767);
	font-weight: 400;
	color: #ffffff;

	@media (max-width: $md3 + px){
		@include adaptiv-value('font-size', 25, 22, 767, 320);
		@include adaptiv-value('line-height', 33, 30, 767, 320);
	};
}
.gallery__text-link {
	@include adaptiv-value('font-size', 25, 22, 767, 320);
	font-weight: 500;
	color: #ffffff;
}
.gallery__social-links {
	margin-top: 17px;
	margin-bottom: 65px;
	@include adaptiv-value('margin-bottom', 65, 40, 1480, 767);

	a{
		margin-right: 15px;

		&:last-child{
			margin-right: 0;
		}
	}

	@media (max-width: $md3 + px){
		@include adaptiv-value('margin-bottom', 35, 20, 767, 320);

		a{
			img{
				@include adaptiv-value('max-width', 55, 50, 767, 320);
			}
		}
	};
}
.gallery__site-link {
	margin-top: 15px;

	font-size: 33.4px;
	@include adaptiv-value('font-size', 33.4, 27, 767, 320);
	font-weight: 900;
	color: #ffba00;
}

// ==================================

// Подключаем footer
@import "footer.scss";

// Подключение файлов UI стилей, форм
@import "forms.scss";
